<app-aside-bar>
    <app-container>
        <app-busca
            titulo="Clientes"
            textoLabel="Digite o nome..."
            textoPlaceholder="Ex: Fulano da Silva Jr.">
        </app-busca>
        <div class="container-table">
        <app-card>
            <app-table-base
            class="table"
            [dados]="clientes"
            [pageable]="pageable"
            [colunas]="colunas"
            [displayedColumns]="displayedColumns"
            [displayedesColumns]="displayedesColumns"
            [colunasResponsivas]="colunasResponsivas"
            >
            </app-table-base>
        </app-card>
        </div>
    </app-container>
</app-aside-bar>
