.container-form{
    margin: 15px;
    text-align: center;
    font-family: var(--font-secundaria);
    font-weight: 400;
    .formulario{
        display: flex;
        justify-content: center;
        flex-direction: column;
        .mat-mdc-form-field{
            margin-bottom: 15px;
        }
    }
    .mdc-button{
        margin: 0 5px;
    }
    .container-actions{
        .btn-close{
            color: #FFFFFF;
            background-color: red;
        }
    }
}

@media screen and (max-width:769px){
  .mat-mdc-dialog-surface{
    width: 80%;
    height: 50%;
  }
}
