<div class="container">
  <mat-toolbar class="aside-toolbar">

    <div class="aside-toolbar-logo"></div>

    <mat-toolbar-row class="row-user">
      <p>Bem vindo, rodrigo!</p>
    </mat-toolbar-row>

    <mat-toolbar-row class="row-actions">
      <button mat-flat-button color="warn">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="logout">
        </mat-icon>
        Logout</button>
    </mat-toolbar-row>

    <mat-toolbar-row class="row-itens">
      <span>Home</span>
    </mat-toolbar-row>
    <mat-toolbar-row class="row-itens">
      <span>Vendas</span>
    </mat-toolbar-row>
    <mat-toolbar-row class="row-itens">
      <span>Compras</span>
    </mat-toolbar-row>
    <mat-toolbar-row class="row-itens">
      <span>Fornecedores</span>
    </mat-toolbar-row>
    <mat-toolbar-row class="row-itens">
      <span>Produtos</span>
    </mat-toolbar-row>
    <mat-toolbar-row class="row-itens">
      <span>Clientes</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <ng-content></ng-content>
</div>

