<div class="container">

  <mat-toolbar class="aside-toolbar-secundaria">
    <div class="aside-toolbar-menu">
      <button mat-icon-button [matMenuTriggerFor]="menu" class="btn-icon">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu class="providers-menu" #menu="matMenu">
        <button mat-menu-item class="mat-item" (click)="navegarParaHome($event)">
          <mat-icon class="icon-home">home</mat-icon>
          <span>
            Home
          </span>
        </button>
        <button mat-menu-item (click)="navegarParaVendas($event)">
          <mat-icon class="icon-home">shopping_cart</mat-icon>
          <span>Vendas</span>
        </button>
        <button mat-menu-item (click)="navegarParaCompras($event)">
          <mat-icon class="icon-home">point_of_sale</mat-icon>
          <span>Compras</span>
        </button>
        <button mat-menu-item (click)="navegarParaFornecedores($event)">
          <mat-icon class="icon-home">group</mat-icon>
          <span>Fornecedores</span>
        </button>
        <button mat-menu-item (click)="navegadorParaProdutos($event)">
          <mat-icon class="icon-home">inventory</mat-icon>
          <span>Produtos</span>
        </button>
        <button mat-menu-item (click)="navegadorParaClientes($event)">
          <mat-icon class="icon-home">group</mat-icon>
          <span>Clientes</span>
        </button>
      </mat-menu>
    </div>
    <div class="aside-toolbar-info">
      <p>Bem vindo, {{ usuario }}!</p>
      <button mat-flat-button color="warn" (click)="logout($event)">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="logout">
        </mat-icon>
        Logout
      </button>
    </div>
  </mat-toolbar>

  <mat-toolbar class="aside-toolbar">

    <div class="aside-toolbar-logo"></div>

    <mat-toolbar-row class="row-user">
      <p>Bem vindo, rodrigo!</p>
    </mat-toolbar-row>

    <mat-toolbar-row class="row-actions">
      <button mat-flat-button color="warn" (click)="logout($event)">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="logout">
        </mat-icon>
        Logout
      </button>
    </mat-toolbar-row>

    <mat-toolbar-row class="row-itens">
      <mat-icon class="icon-home">home</mat-icon>
      <span (click)="navegarParaHome($event)">
        Home
      </span>
    </mat-toolbar-row>
    <mat-toolbar-row class="row-itens">
      <mat-icon class="icon-home">shopping_cart</mat-icon>
      <span (click)="navegarParaVendas($event)">Vendas</span>
    </mat-toolbar-row>
    <mat-toolbar-row class="row-itens">
      <mat-icon class="icon-home">point_of_sale</mat-icon>
      <span (click)="navegarParaCompras($event)">Compras</span>
    </mat-toolbar-row>
    <mat-toolbar-row class="row-itens">
      <mat-icon class="icon-home">group</mat-icon>
      <span (click)="navegarParaFornecedores($event)">Fornecedores</span>
    </mat-toolbar-row>
    <mat-toolbar-row class="row-itens">
      <mat-icon class="icon-home">inventory</mat-icon>
      <span (click)="navegadorParaProdutos($event)">Produtos</span>
    </mat-toolbar-row>
    <mat-toolbar-row class="row-itens">
      <mat-icon class="icon-home">group</mat-icon>
      <span (click)="navegadorParaClientes($event)">Clientes</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <ng-content></ng-content>
</div>

