.container{
  width: 100vw;
  height: 100vh;
  display: flex;

  .aside-toolbar{
    width: 250px;
    min-width: 250px;
    height: 100vh;
    background-color: #3E3E3E;

    .aside-toolbar-logo{
      background-image: url('../../../assets/logo.png');
      width: 100%;
      height: 20%;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    .row-tools{
      display: flex;
      flex-direction: column;
      height: 70vh;
    }

    .row-user{
      height: 35px;
      p{
        cursor: auto;
        color: #FFFFFF;
        font-family: var(--font-secundaria);
        font-size: 16px;
        padding: 20px;
      }
    }

    .row-actions{
      margin-bottom: 5px;
    }

    .row-itens{
      cursor: pointer;
      span{
        color: #FFFFFF;
        font-family: var(--font-secundaria);
      }
    }

    .row-itens:hover{
      opacity: 0.8;
      background-color: #1E1E1E;
    }
  }
}


