.container{
  width: 100vw;
  min-height: 100%;
  display: flex;
  // flex-direction: column;

  .aside-toolbar{
    width: 250px;
    min-width: 250px;
    min-height: 100%;
    background-color: #3E3E3E;

    .aside-toolbar-logo{
      background-image: url('../../../assets/logo.png');
      margin-top:15px;
      width: 100%;
      height: 150px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    .row-user{
      margin-top: 10px;
      height: 35px;
      p{
        width: 100%;
        text-align: center;
        cursor: auto;
        color: #FFFFFF;
        font-family: var(--font-secundaria);
        font-size: 16px;
      }
    }

    .row-actions{
      margin-bottom: 5px;
    }

    .row-itens{
      cursor: pointer;
      margin-right: 0;
      padding-right: 0;
      span{
        color: #FFFFFF;
        font-family: var(--font-secundaria);
        padding-left: 10px;
        width: 100%;
        line-height: 60px;
        font-size: 16px;
      }
      .icon-home{
        color: white;
      }
    }

    .row-itens:hover{
      opacity: 0.8;
      background-color: #1E1E1E;
    }
  }

  .aside-toolbar-secundaria{
     display: none;
  }
}

@media screen and (max-width:769px){
  .container{
    flex-direction: column;
    .aside-toolbar{
      display: none;
    }

    .aside-toolbar-secundaria{
      display: inline;
      width: 100%;
      background-color: #3E3E3E;
      .example-spacer{
        flex: 1 1 auto;
      }
    }
  }
}

// @media screen and (max-width: 480px) {
//   .container{
//     width: 100%;
//     display: block;
//     .aside-toolbar{
//       display: none;
//     }

//     .aside-toolbar-secundaria{
//       width: 100%;
//       display: inline-block;
//     }
//   }
// }
