:host {
  padding: 5px;
  width: 200px;
  height: 100%;
  // display: flex;
  // flex-direction: column;
}

.card {
  width: 200px;
  height: 270px;
  // margin-bottom: 27px;
  // margin-right: 27px;
  // border: 1px solid blue;
  display: flex;
  flex-direction: column;
}

.quantidade-boa{
  background-color: #C4FFC2
}

.quantidade-ruim{
  background-color: #FFB9B6;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  // margin-bottom: 15px;
  // border: 1px solid red;
  p {
    font-size: 16px;
    font-family: var(--font-secundaria);
    line-height: 1.4;
    margin-top: 5px;
    strong {
      font-weight: bold;
    }
  }
}

.actions {
  height: 20px;
  background-color: #f8f8ff;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end; /* Isso alinhará as ações na parte inferior */
  // border: 1px solid red;
  .mdc-icon-button {
    background-color: #f8f8ff;
    // border: 1px solid green;
    margin-bottom: -7px;
  }
  .icon-edit {
    color: green;
  }
  .icon-delete {
    color: red;
  }
}

