<mat-card class="example-card">
  <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
  <mat-card-content class="content">
    <p>
      <strong>Codigo:</strong> 1
    </p>
    <!-- <mat-divider></mat-divider> -->
    <p>
      <strong>Descrição:</strong> Beef Angus
    </p>
    <!-- <mat-divider></mat-divider> -->
    <p>
      <strong>Unidade:</strong> KG
    </p>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions class="actions">
    <button mat-icon-button>
      <mat-icon class="icon-edit">edit</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon class="icon-delete">delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
