<mat-card class="card">
  <mat-card-content class="content">
    <p>
      <strong>Codigo:</strong> {{ produto.id }}
    </p>
    <p>
      <strong>Descrição:</strong> {{ produto.descricao }}
    </p>
    <p>
      <strong>Unidade:</strong> {{ produto.unidade }}
    </p>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions class="actions">
    <button mat-icon-button>
      <mat-icon class="icon-edit">edit</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon class="icon-delete">delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
