.conteudo-grafico{
    // border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .titulo-grafico{
        font-family: var(--font-secundaria);
        font-weight: 500;
        margin: 10px 0;
    }
}

.conteudo-listagem{
    height: 500px;
}