<app-aside-bar>
  <app-container class="container">
    <app-card>
      <div class="conteudo-grafico">
        <h1 class="titulo-grafico">Gráfico de Lucratividade por Produto</h1>
        <ngx-charts-bar-horizontal
          [view]="view"
          [scheme]="colorScheme"
          [results]="single"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [legendTitle]="legendTitle"
          [showDataLabel]="true">
        </ngx-charts-bar-horizontal>
      </div>
    </app-card>
    <app-card class="conteudo">
      <div class="btn-mensagens">
        <button mat-raised-button color="primary"
            [matBadge]="2" matBadgePosition="before" matBadgeColor="accent" extended>
          <mat-icon>message</mat-icon>
          Mensagens
        </button>
      </div>
      <div class="conteudo-listagem">
        <ul>
          <div class="card">
            <mat-icon class="icon">close</mat-icon>
            <p class="mesage">Maminha c/ alcatra reserva filha acabou!</p>
          </div>
          <div class="card-warning">
            <mat-icon class="icon">warning</mat-icon>
            <p class="mesage">File de frango a parmegiana contem 05 no estoque!</p>
          </div>
        </ul>
      </div>
    </app-card>
  </app-container>
</app-aside-bar>
