<div class="container">
  <div class="container-description">
    <p>Fornecedores</p>
  </div>

  <div class="container-busca">
    <app-card>
      <form class="container-form">
        <mat-form-field appearance="outline">
          <mat-label>Digite a razão social</mat-label>
          <input matInput placeholder="Ex: MATERIAL ANGULAR LTDA.">
        </mat-form-field>
        <button class="botao" mat-flat-button color="warn">Buscar</button>
      </form>
    </app-card>
  </div>
  <!-- <div class="container-table">
    <app-card>
      <app-table-base class="table"></app-table-base>
    </app-card>
  </div> -->
</div>
