<app-aside-bar>
  <app-container>
    <div class="container-table">
      <app-card>

        <mat-tab-group animationDuration="0ms" (selectedTabChange)="trocaDeTab($event)" disableRipple disablePagination>

          <mat-tab label="Compras">

            <div class="container-compra">
              <div class="container-form">

                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Fornecedor</mat-label>
                  <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto" [disabled]="criarCompra">
                  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" [disableRipple]="criarCompra">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option" [disabled]="criarCompra">
                      {{option.razaoSocial}}
                    </mat-option>
                  </mat-autocomplete>
                  <button matSuffix mat-icon-button aria-label="Clear" (click)="limpar(myControl)">
                    <mat-icon>close</mat-icon>
                  </button>
                  <mat-error class="error-login" *ngIf="!myControl.valid && (myControl.touched || myControl.dirty)">
                    Fornecedor é obrigatorio!
                  </mat-error>
                </mat-form-field>


                <button [disabled]="!myControl.valid || criarCompra" class="btn-criar" mat-flat-button color="primary" extended (click)="criarCompras()">
                  <mat-icon>save</mat-icon>
                  CRIAR COMPRA
                </button>

              </div>

              <div class="container-alocar-produto" *ngIf="criarCompra">
                <div class="lado-1">
                  <mat-divider></mat-divider>
                  <div class="codigo-compra">
                    <span>Compra Nº: <strong>{{ compra?.id }}</strong></span>
                    <span class="valor-total">VALOR TOTAL: <strong>R$ {{ valorTotal.toFixed(2) }}</strong></span>
                  </div>
                  <form [formGroup]="this.formBaseService.formBase">
                    <div class="info-produto">
                      <mat-form-field appearance="outline">
                        <mat-label>{{ codigo }}</mat-label>
                        <input matInput type="number" disabled="true">
                      </mat-form-field>
                    </div>
                    <div class="info-produto-two">

                      <mat-form-field class="descricao-produto" appearance="outline">
                        <mat-label>Descrição</mat-label>
                        <input type="text" matInput [formControl]="produtoControl" [matAutocomplete]="autoProd">
                        <mat-autocomplete #autoProd="matAutocomplete" [displayWith]="displayPd" (closed)="capturarDados($event)">
                          <mat-option *ngFor="let option of filteredOptionsProduto | async" [value]="option">
                            {{ option.descricao }}
                          </mat-option>
                        </mat-autocomplete>
                        <mat-error class="error-login" *ngIf="!produtoControl.valid && (produtoControl.touched || produtoControl.dirty)">
                          Produto é obrigatorio!
                        </mat-error>
                      </mat-form-field>

                      <mat-form-field class="unidade-produto" appearance="outline">
                        <mat-label>{{ unidade }}</mat-label>
                        <input matInput disabled="true">
                      </mat-form-field>
                    </div>
                    <div class="info-compras">
                      <mat-form-field class="preco-produto" appearance="outline">
                        <mat-label>Preço</mat-label>
                        <input matInput type="number" formControlName="precoUnitario">
                        <span matTextSuffix>$&nbsp;</span>
                        <mat-error class="error-login" *ngIf="formBaseService.formBase.get('precoUnitario')?.errors?.['required'] && (formBaseService.formBase.get('precoUnitario')?.touched || formBaseService.formBase.get('precoUnitario')?.dirty)">
                          Preço é obrigatorio!
                        </mat-error>
                      </mat-form-field>
                      <mat-form-field class="quantidade-produto" appearance="outline">
                        <mat-label>Quantidade</mat-label>
                        <input matInput type="number" formControlName="quantidade">
                        <mat-error class="error-login" *ngIf="formBaseService.formBase.get('quantidade')?.errors?.['required'] && (formBaseService.formBase.get('quantidade')?.touched || formBaseService.formBase.get('precoUnitario')?.dirty)">
                          Qnt. é obrigatoria!
                        </mat-error>
                      </mat-form-field>
                    </div>

                    <div class="custom-file-container">
                      <button mat-flat-button type="button" class="btn-arquivo" (click)="selectFile()">SELECIONAR ARQUIVO</button>
                      <mat-form-field appearance="outline" class="field-arquivo">
                        <mat-label>{{ selectedFileName }}</mat-label>
                        <input matInput disabled="true">
                      </mat-form-field>
                      <mat-progress-spinner *ngIf="arquivoAnexado"
                        class="spinner"
                        mode="determinate"
                        diameter="50"
                        [value]="value">
                      </mat-progress-spinner>
                      <mat-icon class="icon-checked" *ngIf="arquivoFinalizado">checked</mat-icon>
                      <input #fileInput type="file" (change)="onFileSelected($event)" style="display: none;">
                    </div>

                    <mat-error class="error-produto" *ngIf="produtoExistente">
                      Produto já existente nas compras! Insira outro item ou finalize a Compra.
                    </mat-error>

                    <div class="info-actions">
                      <button [disabled]="!this.formBaseService.formBase.valid" type="button" class="btn-inserir" mat-flat-button color="primary" extended (click)="addProdutos()">
                        <mat-icon>add_shopping_cart</mat-icon>
                        INSERIR
                      </button>
                      <button [disabled]="!podeEditar"  type="button" class="btn-modificar" mat-fab color="accent" (click)="updateProduto()">
                        <mat-icon>edit</mat-icon>
                      </button>
                      <button [disabled]="!podeExcluir" type="button" class="btn-excluir" mat-fab color="primary" (click)="deleteProduto()">
                        <mat-icon>delete</mat-icon>
                      </button>
                      <button [disabled]="compras.length < 1" type="button" class="btn-finalizar" mat-flat-button color="primary" extended (click)="finalizarCompra()">
                        <mat-icon>check_small</mat-icon>
                        FINALIZAR
                      </button>
                    </div>
                  </form>
                </div>

                <div class="lado-2">
                  <app-table-base
                    #tableBaseComponent
                    [displayedColumns]="displayedColumns"
                    [displayedesColumns]="displayedesColumns"
                    [dados]="compras"
                    [colunas]="colunas"
                    [colunasResponsivas]="colunasResponsiva"
                    [visualizacaoDeAdicao]="true"
                    [habilitarClickTabela]="true"
                    (clickNaTabela)="recuperarDadosDoClique($event)"
                  ></app-table-base>

                </div>
              </div>

            </div>

          </mat-tab>

          <mat-tab label="Registros">
            <div class="container-registros">

              <mat-form-field appearance="outline">
                <mat-label>Razão Social Fornecedor</mat-label>
                <input matInput placeholder="Ex: Max Soft LTDA." [formControl]="fornecedorControlBusca">
                <mat-icon matSuffix>search</mat-icon>
              </mat-form-field>

              <app-table-base
                #tableBase
                [displayedColumns]="displayedColumnsComp"
                [displayedesColumns]="displayedesColumnsComp"
                [pageable]="pageable"
                [dados]="comprasRecuperadas"
                [colunas]="colunasComp"
                [colunasResponsivas]="colunasResponsivaComp"
                [visualizacaoDeAdicao]="false"
                [contemEdicao]="false"
                (alteracaoPagina)="alteracaoNaPagina($event)"
                (download)="downloadArquivo($event)"
                (clickNaTabela)="abrirCompras($event)"
                (exclusao)="excluirCompras($event)"
              ></app-table-base>
            </div>
          </mat-tab>

        </mat-tab-group>

      </app-card>
    </div>
  </app-container>
</app-aside-bar>
