table{
  // border: 1px solid red;
  box-sizing: border-box;

  .mat-mdc-row:hover .mat-mdc-cell {
    background-color: #f8f8f8;
  }

  cursor: pointer;
  button{
    margin: 5px;

    .icon-download{
      color: blue;
    }

    .icon-edit{
      color: green;
    }

    .icon-delete{
      color: red;
    }
  }

}
.sem-conteudo{
  p{
    font-family: var(--font-secundaria);
    font-size: 14px;
    padding-left: 10px;
    padding-top: 5px;
  }
}


