<app-aside-bar>
  <app-container>
    <app-busca
      (criar)="criarFornecendor($event)"
      (buscaRazaoSocial)="buscaRazaoSocial($event)"
    ></app-busca>
    <div class="container-table">
      <app-card>
        <app-table-base
         class="table"
         [fornecedores]="fornecedores"
         [pageable]="pageable"
         [colunas]="colunas"
         [colunasResponsivas]="colunasResponsivas"
         (alteracaoPagina)="alteracaoPagina($event)"
         (edicao)="editarFornecedor($event)"
         (exclusao)="excluirFornecedor($event)"></app-table-base>
      </app-card>
    </div>
  </app-container>
</app-aside-bar>
