<app-aside-bar>
  <app-container>
    <app-busca
      (criar)="criarFornecendor($event)"
      (busca)="buscaRazaoSocial($event)"
      titulo="Fornecedores"
      textoLabel="Digite a razão social"
      textoPlaceholder="Ex: MATERIAL ANGULAR LTDA."
    ></app-busca>
    <div class="container-table">
      <app-card>
        <app-table-base
         class="table"
         [dados]="fornecedores"
         [pageable]="pageable"
         [colunas]="colunas"
         [displayedColumns]="displayedColumns"
         [displayedesColumns]="displayedesColumns"
         [colunasResponsivas]="colunasResponsivas"
         (alteracaoPagina)="alteracaoPagina($event)"
         (edicao)="editarFornecedor($event)"
         (exclusao)="excluirFornecedor($event)"></app-table-base>
      </app-card>
    </div>
  </app-container>
</app-aside-bar>
