<div class="container">
  <div class="container-description">
    <p>{{ titulo }}</p>
  </div>

  <div class="container-busca">
    <app-card>
        <div class="container-form">
          <mat-form-field appearance="outline">
            <mat-label>{{ textoLabel }}</mat-label>
            <input matInput [placeholder]="textoPlaceholder" [formControl]="campoBusca">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
          <button (click)="criacao()" class="btn-criar" mat-flat-button color="primary" extended>
            <mat-icon>save</mat-icon>
            CADASTRAR
          </button>
        </div>
    </app-card>
  </div>

</div>
