.container-table {
  margin-top: 50px;

  .container-item {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px; /* Adicione um espaçamento entre os itens */
    // border: 1px solid blue;
    padding: 5px; /* Adicionei padding no container */
    padding-left: 35px;
    // padding-right: 10px;

    .item {
      // margin: 50px;
      box-sizing: border-box; /* Garante que a largura inclua a borda e o padding */
    }
  }
}

.sem-conteudo{
  p{
    font-family: var(--font-secundaria);
    font-size: 14px;
    padding-left: 10px;
    padding-top: 5px;
  }
}
