<app-aside-bar>
  <app-container>
    <app-busca
    titulo="Produtos"
    textoPlaceholder="Ex: Costela de Porco"
    textoLabel="Descrição Produto"
    (criar)="criarProdutos($event)"
    (busca)="buscarProdutos($event)"
    >
    </app-busca>
    <div class="container-table">
      <app-card>
        <div class="container-item"  *ngIf="produtos.length > 0 else semConteudo">
          <div *ngFor="let produto of produtos">
          <app-card-item class="item"
           [produto]="produto"
           (edicao)="editarProduto($event)"
           (exclusao)="excluirProduto($event)"></app-card-item>
          </div>
        </div>
        <mat-paginator [length]="pageable?.totalElements"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 20]"
              (page)="getCardsForPage($event)">
          </mat-paginator>
      </app-card>
    </div>
  </app-container>
</app-aside-bar>

<ng-template #semConteudo>
  <div class="sem-conteudo">
    <p>Nenhum conteudo encontrado...</p>
  </div>
</ng-template>
